.main-header{
	background-color: transparent;
	width: 100%;
	padding: $half-spacing-unit 0;
	position: absolute;
	@media #{$small} {
		padding: $base-spacing-unit 0;
	}
}

.main-navigation{
	font-weight: 400;
}

.main-navigation__item{
	> a{
		color: white;
		transition: all 0.2s ease-out;
		padding: $half-spacing-unit / 2 $half-spacing-unit;
		display: inline-block;
		border-radius: 100px;
		&:hover{
			color: white;
		}
	}
	&.is-active a{
		background-color: rgba(white, 0.22);
	}
}

.header-container{
	@extend %grid;
	@extend %grid--middle;
}

.header__logo-area,
.header__navigation-area{
	@extend %grid__item;
}

.header__logo-area{
	@extend %small--one-third;
}

.header__navigation-area{
	@extend %small--two-thirds;
	text-align: right;
}
